@use "../../assets/scss/colors.scss" as *;

.header {
  position: fixed;
  width: 100%;
  z-index: 20;
  padding: 20px 20px;
  display: flex;
  justify-content: end;
  align-items: center;
  background-color: $primary-background;
  font-weight: 600;
  &__links {
    display: flex;
    gap: 10px;
  }
  &__socials {
    margin-left: 10px;
    font-size: 1.4rem;
    display: flex;
    gap: 10px;
  }
}

.mobile {
  display: flex;
  align-items: center;
  gap: 10px;
}

.desktop {
  display: none;
}

@media screen and (min-width: 1024px) {
  .desktop {
    display: flex;
  }
  .mobile {
    display: none;
  }
}
