// Dark theme (default)

$primary-font-color: #ffffff;
$main-color: #057af0;
$second-color: #c0c0c0;

$primary-background: #000000;
$secondary-background: #0a0a0a;
$tiertary-background: rgba(
  $color: #000000,
  $alpha: 0.7,
);
$hr-background: #ffffff;
