@use "../scss/colors.scss" as *;

* {
  margin: 0;
  box-sizing: border-box;
  &::before,
  &::after {
    margin: 0;
  }
}

a {
  text-decoration: none;
  color: inherit;
  &:hover {
    text-decoration: underline;
    text-underline-offset: 2px;
    color: $main-color;
  }
  &.active {
    color: $main-color;
  }
}

ul {
  padding: 0;
}

li {
  list-style-type: none;
}

input,
textarea,
select {
  outline: transparent;
  padding: 5px 10px;
  font-family: inherit;
  font-size: inherit;
}
