@use "../../assets/scss/colors.scss" as *;
.Project {
  display: flex;
  flex-direction: column;
  &__content {
    display: flex;
    flex-wrap: wrap;
    padding: 40px;
    gap: 30px;
    text-align: justify;
    &:hover {
      background-color: rgba($color: $hr-background, $alpha: 0.025);
      cursor: pointer;
    }
    &:hover .Project__img {
      transform: scale(1.05);
    }
    &:hover .Infos__title {
      color: $main-color;
      text-decoration: underline;
      text-underline-offset: 2px;
    }
  }
  &__imgWrapper {
    overflow: hidden;
  }
  &__img {
    aspect-ratio: 16 / 9;
    height: 100%;
    width: 100%;
    object-fit: cover;
    transition: transform 400ms linear;
  }
  &__hr {
    border: none;
    height: 0.5px;
    background-color: $hr-background;
  }
}

.Infos {
  &__category {
    width: fit-content;
    padding: 5px 10px;
    font-size: 0.7rem;
    font-weight: 600;
    text-transform: uppercase;
    background-color: $main-color;
  }
  &__title {
    font-size: 1.5rem;
    padding-block: 20px;
  }
  &__description {
    color: $second-color;
  }
}

@media screen and (min-width: 1024px) {
  .Project {
    display: flex;
    &__content {
      flex-wrap: nowrap;
    }
    &__imgWrapper {
      min-width: 50%;
    }
  }
}
