@use "../../assets/scss/colors.scss" as *;
.ScrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  border: 1px solid $second-color;
  padding: 15px;
  &:hover {
    background-color: rgba($color: $second-color, $alpha: 0.2);
    cursor: pointer;
  }
}
