.ScrollToTop {
  position: fixed;
  bottom: 20px;
  right: 20px;
  z-index: 2;
  border: 1px solid #c0c0c0;
  padding: 15px;
  &:hover {
    background-color: rgba($color: #c0c0c0, $alpha: 0.1);
  }
}
