@use "../../assets/scss/colors.scss" as *;

button {
  background-color: $main-color;
  color: $primary-font-color;
  padding: 8px 20px;
  margin: 20px;
  font-weight: 00;
  font-size: inherit;
  border: none;
}
