@use "../../assets/scss/colors.scss" as *;

button {
  background-color: $main-color;
  color: $primary-font-color;
  padding: 8px 20px;
  margin: 20px;
  font-weight: 600;
  font-size: inherit;
  border: none;
  &:hover {
    background-color: rgba($color: $main-color, $alpha: 0.8);
  }
}
