@use "../../assets/scss/colors.scss" as *;

main {
  padding-inline: 10%;
}

.Dashboard {
  margin: 0 auto;
  &__title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 60px;
  }
}

.modulesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.modules {
  width: 100%;
  padding: 50px;
  background-color: $tiertary-background;
  flex: 1;
  border: 1px solid $hr-background;
}

@media screen and (min-width: 1024px) {
  .modules {
    max-width: fit-content;
  }
}
