@use "../../assets/scss/colors.scss" as *;

.Dashboard {
  display: flex;
  justify-content: center;
  &__title {
    text-align: center;
    text-decoration: underline;
    margin-bottom: 60px;
  }
}

.modulesWrapper {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  gap: 50px;
}

.modules {
  padding: 50px;
  background-color: $tiertary-background;
  flex: 1;
  border: 1px solid $hr-background;
}

@media screen and (min-width: 1024px) {
  .modulesWrapper {
    max-width: 80%;
  }
  .modules {
    max-width: fit-content;
  }
  .Dashboard {
    justify-content: end;
  }
}
