.Hero {
  height: fit-content;
  padding-block: 40px;
  background-image: url("../../assets/images/undertale.png");
  background-repeat: no-repeat;
  background-size: cover;
  margin-bottom: 60px;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: fit-content;
    background-color: rgba($color: #000, $alpha: 0.8);
    padding: 40px;
    display: flex;
    flex-direction: column;
  }
}

@media screen and (min-width: 768px) {
  .Hero {
    padding-block: 80px;
    justify-content: flex-end;

    &__wrapper {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}

@media screen and (min-width: 1024px) {
  .Hero {
    background-position: 0px -100px;
    padding-block: 120px;
  }
}
