@use "../../assets/scss/colors.scss" as *;
.Hero {
  height: fit-content;
  padding-block: 40px;
  background-image: url("/images/undertale.webp");
  background-attachment: fixed;
  background-size: cover;
  background-repeat: no-repeat;
  margin-top: 60px;
  &__wrapper {
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  }
  &__content {
    width: fit-content;
    display: flex;
    flex-direction: column;
    padding: 40px;
    background-color: $tiertary-background;
  }
}

.Hero p {
  font-size: 1.2rem;
}

@media screen and (min-width: 1024px) {
  .Hero {
    padding-block: 80px;
    justify-content: flex-end;
    background-position: 0px -100px;
    padding-block: 120px;
    &__wrapper {
      margin: 0 auto;
      width: 80%;
      display: flex;
      justify-content: flex-end;
      align-items: center;
    }
  }
}
