@use "../../assets/scss/colors.scss" as *;

.skillCardWrapper {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
}

.skillCard {
  padding: 20px;
  background-color: rgba($color: $hr-background, $alpha: 0.025);
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 100%;
  &:hover {
    background-color: rgba($color: $hr-background, $alpha: 0.05);
  }
  &:hover .skillCard__img {
    transform: scale(1.05);
  }
  &__img {
    max-width: 200px;
    max-height: 120px;
    transition: transform 200ms linear;
  }
  &__title {
    margin-block: 20px;
  }
  &__description {
    color: $second-color;
  }
}

@media screen and (min-width: 768px) {
  .skillCardWrapper {
    flex-direction: row;
    flex-wrap: wrap;
    gap: 30px;
  }
  .skillCard {
    padding: 30px;
    flex: 1;
    max-width: 45%;
  }
}

@media screen and (min-width: 1024px) {
  .skillCardWrapper {
    gap: 50px;
  }
  .skillCard {
    padding: 50px;
    flex: 1;
    min-width: 30%;
  }
}
