.addProject {
  padding-block: 20px;
  &__label {
    margin-bottom: 15px;
  }
  &__input {
    margin-bottom: 10px;
    width: 100%;
  }
  &__textarea {
    margin-bottom: 10px;
    height: 150px;
    width: 100%;
  }
  &__button {
    width: 100%;
    margin: 5px 0 0 0;
    font-weight: 600;
  }
}
