@use "../../assets/scss/colors.scss" as *;

.Wrapper {
  background-color: $tiertary-background;
  padding: 20px;
  margin-bottom: 20px;
}

hr {
  border: none;
  height: 0.5px;
  background-color: $hr-background;
  margin: 10px 0px;
}

.icon {
  font-size: 1.25rem;
  margin-right: 10px;
  width: 20px;
}

li {
  padding: 4px;
}
