@use "../../../assets/scss/colors.scss" as *;

.lastsProjects {
  position: relative;
  display: flex;
  flex-direction: column;
  &__image {
    max-width: 100px;
    margin-top: 20px;
  }
  &__xmark {
    position: absolute;
    font-size: 1.6rem;
    font-weight: 600;
    top: 10px;
    right: 10px;
    background-color: $primary-background;
    &:hover {
      cursor: pointer;
      color: $main-color;
    }
  }
}
