@use "../../assets/scss/colors.scss" as *;

.ContactForm {
  margin: 0 auto;
  background-color: rgba($color: $hr-background, $alpha: 0.025);

  &__fieldset {
    padding: 25px;
    display: flex;
    flex-direction: column;
    border: 1px solid $hr-background;
  }
  &__legend {
    padding-inline: 10px;
    font-weight: 600;
    text-decoration: underline;
    text-underline-offset: 3px;
  }
  &__input {
    width: 100%;
  }
  &__textarea {
    margin-block: 20px;
    height: 150px;
  }
  &__button {
    width: 100%;
    margin: 0;
    font-weight: 600;
  }
}

.UserWrapper {
  display: flex;
  flex-wrap: wrap;
  gap: 20px;
}

@media screen and (min-width: 674px) {
  .ContactForm {
    &__fieldset {
      padding: 50px;
    }
  }
}
