@import url("https://fonts.googleapis.com/css2?family=Inter:wght@400;500;600;700&display=swap");

* {
  margin: 0;
  box-sizing: border-box;
}

*::before,
*::after {
  margin: 0;
}

body {
  font-family: "Inter", sans-serif;
  font-size: 1rem;
  background-color: #000;
  color: #fff;
}

#root {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  min-height: 100vh;
}

main {
  flex: 1;
  background-color: #0a0a0a;
  padding-inline: 20px;
}

a {
  text-decoration: none;
  color: inherit;
}

a:hover {
  text-decoration: underline;
  color: #057af0;
}

a.active {
  color: #057af0;
}
