@use "./assets/scss/normalize.scss";
@use "./assets/scss/colors.scss" as *;

.mainWrapper {
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;
}

@media screen and (min-width: 1024px) {
  .mainWrapper {
    max-width: 80%;
    min-width: 80%;
  }
}
